<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="10 seconds">

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>DEBUG</level> 
			<onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> </filter> -->
		<layout class="ch.qos.logback.classic.PatternLayout" />
		<encoder>
			<!-- <pattern># %class{0}.%method\(\) %date{HH:mm:ss:SSS}|%-5level|%thread 
				\(%class.java:%L\)%n%caller{0} %msg%n%n%throwable{full}</pattern> -->
			<pattern>%date{HH:mm:ss:SSS}|%-5level|\(%class{0}.java:%L\)|%method - %msg \(%class.java:%L\)%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_GTU" class="com.iisigroup.ris.Slf4jConsoleAppender"><!--  -->
		<!-- <filter class="ch.qos.logback.classic.filter.LevelFilter"> <level>DEBUG</level> 
			<onMatch>ACCEPT</onMatch> <onMismatch>DENY</onMismatch> </filter> -->
		<layout class="ch.qos.logback.classic.PatternLayout" />
		<encoder>
			<!-- <pattern># %class{0}.%method\(\) %date{HH:mm:ss:SSS}|%-5level|%thread 
				\(%class.java:%L\)%n%caller{0} %msg%n%n%throwable{full}</pattern> -->
			<pattern>%date{HH:mm:ss:SSS}|%-5level|\(%class{0}.java:%L\)|%method - %msg \(%class.java:%L\)%n</pattern>
		</encoder>
	</appender>

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>C:\Users\gtu001\Desktop\ws-rolling.log</File>
		<!-- 
		<File>/RIS3/webui/log/ws-rolling.log</File>
		 -->
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<FileNamePattern>ws-rolling.%i.log</FileNamePattern>
			<MinIndex>1</MinIndex>
			<MaxIndex>3</MaxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>40MB</MaxFileSize>
		</triggeringPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss:SSS}|%-5level|\(%class{0}.java:%L\)|%method - %msg \(%class.java:%L\)%n</pattern>
		</layout>
	</appender>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ROLLING" />
	</root>

	<logger name="org.springframework" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.iisigroup" level="trace" additivity="true">
		<appender-ref ref="STDOUT" />
	</logger>
</configuration>
