pypiwin32

#https://www.lfd.uci.edu/~gohlke/pythonlibs/#pyhook
./gtu/keyboard_mouse/pyHook-1.5.1-cp34-cp34m-win32.whl
#./gtu/keyboard_mouse/pyHook-1.5.1-cp34-cp34m-win_amd64.whl
#./gtu/keyboard_mouse/pyHook-1.5.1-cp36-cp36m-win_amd64.whl
#./gtu/keyboard_mouse/pyHook-1.5.1-cp36-cp36m-win32.whl

py2exe
pyInstaller
psutil
openpyxl
Image
wheel
pymysql
sqlalchemy