
<!-- <body> -->
<!-- <body class="green"> -->

<body class="bg_white">
    <div class="record_side close_frame">
        <!-- load nav_area.html -->
    </div>
    <!-- header -->
    <div class="container_header simple">
        <!-- <a href="javascript:void(0)" class="mb_hamburg_menu open">
            <i class="icon-hamburger"></i>
        </a> -->
        <a href="javascript: history.go(-1)" class="header-left-icon">
            <i class="icon-expand_left"></i>
        </a>
        <h1 class="page_title">其他瓦斯費</h1>
        <!-- <div class="logo"></div> -->
        <a href="../TWRBM_General/TWRBM_General_OT001.html" class="header-right-icon">
            <!-- <i class="icon-service"></i> -->
            登出
        </a>
    </div>
    <!-- END header -->
    <div class="body-wrap scroll">
        <div class="main_container">
            <div class="content-step">
                <ul>
                    <li></li>
                    <li></li>
                    <li class="active"><span>3 完成</span></li>
                </ul>
            </div>
            <!-- <div class="clearfix"></div> -->
            <div class="container">
                <div class="panel-result">
                    <span><i class="icon-ok"></i></span> <strong class="txt_big">交易成功</strong>
                </div>
                <div class="div-tb">
                    <div class="td hd vmid">繳費金額</div>
                    <div class="td rt">
                        <strong>
                            <span class="txt_big">1,280</span>
                        </strong>
                    </div>
                </div>
                <hr />
                <div class="div-tb mb10">
                    <div class="td hd">瓦斯公司</div>
                    <div class="td rt">
                        <strong>欣湖天然氣股份有限公司</strong>
                    </div>
                </div>
                <div class="div-tb mb10">
                    <div class="td hd">銷帳編號</div>
                    <div class="td rt">
                        <strong>1234567890123456</strong>
                    </div>
                </div>
                <div class="div-tb mb10">
                    <div class="td hd">扣款帳號</div>
                    <div class="td rt">
                        <strong>0000901540247228</strong>
                    </div>
                </div>
                <div class="div-tb mb10">
                    <div class="td hd">註記</div>
                    <div class="td rt">
                        <strong>gas</strong>
                    </div>
                </div>
               
                <div class="mb20"></div>
                <div class="well">
                    <h4 class="well-title">恭喜您，有機會獲得2萬元獎金</h4>
                    <p class="sec-title">目前累積 1 筆交易</p>
                    <div class="mb15"></div>
                    <p>106/7/1~106/10/31 於網銀/行動銀/網路ATM完成指定交易，每1筆交易=2萬元抽獎獎金，最高獎金100萬元！</p>
                    <p>您還可立即參加線上抽獎，7-11購物金、網路購物金等你拿，中獎率100%！</p>
                    <a href="javascript:;" class="link"><strong>立即抽獎</strong> <i class="icon-more_right txt_yellow"></i></a>
                </div>
                <a href="javascript:;" class="arrow-rgt">
                    <div class="talk-panel">
                        <div class="talk-heading">
                            轉帳預告通知
                        </div>
                        <div class="talk-body">
                            可以設定轉帳預告，聰明提醒...
                        </div>
                    </div>
                </a>
                <div class="clearfix mb30"></div>
                <ul class="row">
                    <li class="col-xs-3"> </li>
                    <li class="col-xs-6">
                        <a href="javascript:;" class="btn btn-round btn-md btn-block">再繳一筆</a>
                    </li>
                    <li class="col-xs-3"> </li>
                </ul>
                <div class="clearfix mb30"></div>
          
            </div>
            <!-- / container -->
        </div>
        <!-- main_container -->
    </div>
    <!-- body-wrap -->
    <div class="gotop">回到頂端</div>
    <div class="overlayer"></div>
    <div class="overlayer_menu"></div>
    <script type="text/javascript">
    $(document).ready(function() {
        $("#demo-toggle2-link").click(function() {
            $(".demo-toggle2").toggle();
        });
    });
    </script>
</body>
